
@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section border-0 m-0 pb-3">
	<div class="container container-xl-custom">
		<div class="row pb-1">

			<div class="col-sm-6 col-lg-4 mb-4 pb-2">
				<a href="~/blog-post.html">
					<article>
						<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
							<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
								<img src="~/img/blog/default/blog-46.jpg" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
								<div class="thumb-info-title bg-transparent p-4">
									<div class="thumb-info-inner mt-1">
										<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">How To Take Better Concert Pictures in 30 Seconds</h2>
									</div>
								</div>
							</div>
						</div>
					</article>
				</a>
			</div>
			<div class="col-sm-6 col-lg-4 mb-4 pb-2">
				<a href="~/blog-post.html">
					<article>
						<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
							<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
								<img src="~/img/blog/default/blog-46.jpg" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
								<div class="thumb-info-title bg-transparent p-4">
									<div class="thumb-info-inner mt-1">
										<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">How To Take Better Concert Pictures in 30 Seconds</h2>
									</div>
								</div>
							</div>
						</div>
					</article>
				</a>
			</div>
			<div class="col-sm-6 col-lg-4 mb-4 pb-2">
				<a href="~/blog-post.html">
					<article>
						<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
							<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
								<img src="~/img/blog/default/blog-46.jpg" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
								<div class="thumb-info-title bg-transparent p-4">
									<div class="thumb-info-inner mt-1">
										<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">How To Take Better Concert Pictures in 30 Seconds</h2>
									</div>
								</div>
							</div>
						</div>
					</article>
				</a>
			</div>
			<div class="col-sm-6 col-lg-4 mb-4 pb-2">
				<a href="~/blog-post.html">
					<article>
						<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
							<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
								<img src="~/img/blog/default/blog-46.jpg" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
								<div class="thumb-info-title bg-transparent p-4">
									<div class="thumb-info-inner mt-1">
										<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">How To Take Better Concert Pictures in 30 Seconds</h2>
									</div>
								</div>
							</div>
						</div>
					</article>
				</a>
			</div>
			<div class="col-sm-6 col-lg-4 mb-4 pb-2">
				<a href="~/blog-post.html">
					<article>
						<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
							<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
								<img src="~/img/blog/default/blog-46.jpg" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
								<div class="thumb-info-title bg-transparent p-4">
									<div class="thumb-info-inner mt-1">
										<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">How To Take Better Concert Pictures in 30 Seconds</h2>
									</div>
								</div>
							</div>
						</div>
					</article>
				</a>
			</div>
		</div>
	</div>
</section>