
@{
    ViewData["Title"] = "Kayit";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="row justify-content-center">
	<div class="col-md-6 col-lg-5">
		<h2 class="font-weight-bold text-5 mb-0 mt-5 pb-5">Kayıt Ol</h2>
		<form action="/" id="frmSignUp" method="post">
			<div class="row">
				<div class="form-group col">
					<label class="form-label text-color-dark text-3">Ad Soyad <span class="text-color-danger">*</span></label>
					<input type="text" value="" class="form-control form-control-lg text-4" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<label class="form-label text-color-dark text-3">Email <span class="text-color-danger">*</span></label>
					<input type="text" value="" class="form-control form-control-lg text-4" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<label class="form-label text-color-dark text-3">Şifre <span class="text-color-danger">*</span></label>
					<input type="password" value="" class="form-control form-control-lg text-4" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<p class="text-2 mb-2">Kişisel verileriniz, bu web sitesindeki deneyiminizi desteklemek, hesabınıza erişimi yönetmek ve diğer amaçlar için kullanılacaktır. </p>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Kayıt Ol</button>
				</div>
			</div>
		</form>
	</div>
</div>