
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row justify-content-center">
	<div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
		<h2 class="font-weight-bold text-5 mb-0 mt-5 pb-5">Giriş Yap</h2>
		<form method="post">
			<div class="row">
				<div class="form-group col">
					<label class="form-label text-color-dark text-3">Email<span class="text-color-danger">*</span></label>
					<input type="text" value="" class="form-control form-control-lg text-4" name="UserMail" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<label class="form-label text-color-dark text-3">Şifre <span class="text-color-danger">*</span></label>
					<input type="password" value="" class="form-control form-control-lg text-4" name="UserPassword" required>
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="form-group col-md-auto">
					<div class="custom-control custom-checkbox">
						<label class="form-label custom-control-label cur-pointer text-2" for="rememberme"></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Giriş Yap</button>
				</div>
			</div>
		</form>
	</div>
</div>